<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>409984945180-r0gehp61fvh02hj71nc8gkmcdq6h58pl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.409984945180-r0gehp61fvh02hj71nc8gkmcdq6h58pl</string>
	<key>API_KEY</key>
	<string>AIzaSyC_pxbDcWiQ2OuUL00ZgOkYSe2RtO1UO5I</string>
	<key>GCM_SENDER_ID</key>
	<string>409984945180</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.seflStudyLab</string>
	<key>PROJECT_ID</key>
	<string>to-do-list-eba97</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-list-eba97.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:409984945180:ios:e7454452e4794fba0a23d9</string>
</dict>
</plist>